<?xml version="1.0"?>
<config>
    <modules>
        <MMind_YandexMetrika>
            <version>1.0.0</version>
        </MMind_YandexMetrika>
    </modules>
    <global>
        <blocks>
            <mmyandexmetrika>
                <class>MMind_YandexMetrika_Block</class>
            </mmyandexmetrika>
        </blocks>
        <helpers>
            <mmyandexmetrika>
                <class>MMind_YandexMetrika_Helper</class>
            </mmyandexmetrika>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <mmyandexmetrika>
                    <file>mmyandexmetrika.xml</file>
                </mmyandexmetrika>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mmyandexmetrika>
                                            <title>MageMind YandexMetrika Integration</title>
                                        </mmyandexmetrika>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <mmyandexmetrika>
                    <files>
                        <default>MMind_YandexMetrika.csv</default>
                    </files>
                </mmyandexmetrika>
            </modules>
        </translate>
    </adminhtml>
</config>