<?xml version="1.0" encoding="utf-8" ?>
<config>
    <tabs>
        <mmind translate="label">
            <label>MageMind</label>
            <sort_order>999</sort_order>
        </mmind>
    </tabs>
    <sections>
        <mmyandexmetrika translate="label" module="mmyandexmetrika">
            <label>Yandex Metrika Integration</label>
            <tab>mmind</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <yandex_code translate="label comment">
                            <label>Yandex Metrika Code</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[Copy your Yandex Metrika script code here]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </yandex_code>
                    </fields>
                </general>
                <goals translate="label">
                    <label>Goals</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_checkout_success translate="label comment">
                            <label>Enable Goal For Success Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_checkout_success>
                    </fields>
                </goals>
            </groups>
        </mmyandexmetrika>
    </sections>
</config>